.navbar{
    --bs-navbar-brand-padding-y: 12px;
}
.navbar_row {
    border-left: 1px solid rgba(255, 255, 255, 0.562);
    background-color: var(--navbar-dark-primary);
    /* padding: 0.5rem 1rem; */
    
  }
  
  .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    color: var(--navbar-light-primary);
    font-weight: 500;
    text-decoration: none;
  }
  
  .navbar-nav .nav-link:hover {
    color: #007bff;
  }
  
  
  @media (max-width: 767.98px) {
    .custom-collapse {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: max-height 0.4s ease, opacity 0.3s ease;
    }
  
    .custom-collapse.show {
      max-height: 300px; /* adjust as needed */
      opacity: 1;
      transition: max-height 0.5s ease, opacity 0.3s ease;
      position: relative;
    top: 8px;
    }
    .navbar-collapse{
        border-top: 1px solid rgba(255, 255, 255, 0.562);
    }
  }
  